main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background: #020617;
}

nav {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
  margin-top: 20px;
}

nav a {
  color: #cbd5e1;
  font-weight: 500;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.2s;
}

nav a:hover {
  background: #1e293b;
  color: #3b82f6;
}

section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
  border-bottom: 1px solid #1e293b;
}

section:last-child {
  border-bottom: none;
}

.edu,
.exp {
  background: #111827;
  border: 1px solid #334155;
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0;
}

footer {
  text-align: center;
  padding: 40px 20px;
  border-top: 1px solid #1e293b;
}

footer a {
  color: #3b82f6;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer-note {
  font-size: 0.85rem;
  color: #94a3b8;
  margin-top: 20px;
}

/*Headings*/
h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  color: #3b82f6;
  margin-bottom: 15px;
}

/*Text and Links*/
p {
  /*color: #cbd5f5;*/
  color: #cbd5e1;
  margin-top: 0;
}

a {
  color: #3b82f6;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration: underline;
}

/*hero details*/
.hero p {
  margin: 8px 0;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.subtitle {
  color: #94a3b8;
  font-size: 1.2rem;
}

.location {
  color: #94a3b8;
}

/*GitHub button*/
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: #3b82f6;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transform: scale(1);
  transition: background 0.3s ease;
}

.btn:hover {
  background: #2563eb;
  transform: scale(1.05);
}

/*Skills Card*/
.skills-container {
  /*display: flex;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.skill-card {
  /*width: calc(50% - 10px);*/ /*Force two cards per row on large screen*/
  background: #111827;
  border: 1px solid #334155;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  /*flex: 1 1 250px;*/
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/*Experience ayout*/
.exp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Projects container*/
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.project-card {
  background: #111827;
  border: 1px solid #334155;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 1px solid #334155;
}

/*---Mobile responsiveness---*/
@Media (max-width: 768px) {

  /*General spacing*/
  main {
    padding: 10px;
  }

  section {
    padding: 30px 15px;
  }

  /*Navigation*/
  nav {
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav a {
    font-size: 14px;
    padding: 6px 8px;
  }

  /*Stack cards vertically*/
  .skills-container {
    flex-direction: column;
  }

  .skill-card {
    width: 100%;
  }

  .project-card,
  .edu,
  .exp {
    width: 100%;
  }

  /*hero section*/
  .hero {
    padding: 40px 15px;
  }

  .hero h1 {
    font-size: 2rem;
  }
}