main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background: #020617;
}

nav {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
  margin-top: 20px;
}

nav a {
  color: #cbd5e1;
  font-weight: 500;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.2s;
}

nav a:hover {
  background: #1e293b;
  color: #3b82f6;
}

section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

.exp {
  margin-bottom: 40px;
}

footer {
  text-align: center;
  padding: 40px 20px;
  border-top: 1px solid #1e293b;
}

